@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<div class="jumbotron bg-success text-center" style="background-color:rgb(120, 120, 120);" onmouseover="$(this).addClass('bg-danger');">
  <h1>Gestion de Projets</h1>
  <p style='font-size:60px;color:dark-gray'>Bienvenue</p>
  <h2 class='fas fa-sitemap' style='font-size:80px;'></h2>
</div>


   @section scripts {



   }     